<html>
<head>
    <title>Movie Database Team 5</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color:white" href="/">Movie Database</a>
        </div>
        <div class="collapse navbar-collapse">
            
            <form class="navbar-form navbar-right">
                <div class="form-group">
                <a href="/" class="btn btn-info">Homepage</a> 
                </div>
                </div><!--/.nav-collapse -->
              </div>
            </div>

    <div class="container" style='top: 70px; position: relative;'>
        <div class="movie-view center" style="text-align:center">
            <div id="title" ></div>
            <hr>
            <div id="overview" style="text-align:center"></div>
            <br>
            <div id="trailer"></div>
            <hr>
            <h3><strong>Casts</strong></h3>
            <div id="casts" style="text-align:center"></div>
            <hr>
            <h3><strong>Similar Movies</strong></h3>
            <div id="similar" style="text-align:center"></div>
        </div>
       <div class='row movies-list' style="display:none">
      </div>
    </div><!-- /.container -->
    <script src="/static/js/vendors/jquery.js"></script>
    <script src="/static/js/vendors/bootstrap.min.js"></script>
    <script src="/static/js/vendors/handlebars.js"></script>
    <script src="/static/js/app.js"></script>

    <script type="text/javascript">
      viewMovie("{{id}}");
    </script>

</body>

</html>